[submodule "pack/nvim/start/nvim-lspconfig"]
	path = pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/nvim/start/tokyonight"]
	path = pack/nvim/start/tokyonight
	url = git@github.com:folke/tokyonight.nvim.git
[submodule "pack/nvim/start/nvim-treesitter"]
	path = pack/nvim/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "pack/nvim/start/lualine.nvim"]
	path = pack/nvim/start/lualine.nvim
	url = git@github.com:nvim-lualine/lualine.nvim.git
