[submodule "pack/github/start/nvim-lspconfig"]
	path = pack/github/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "pack/github/start/nvim-treesitter"]
	path = pack/github/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "pack/github/start/tokyonight"]
	path = pack/github/start/tokyonight
	url = git@github.com:folke/tokyonight.nvim.git
[submodule "pack/github/start/copilot-chat"]
	path = pack/github/start/copilot-chat
	url = git@github.com:CopilotC-Nvim/CopilotChat.nvim.git
[submodule "pack/github/start/telescope"]
	path = pack/github/start/telescope
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "pack/github/start/lib-plenary"]
	path = pack/github/start/lib-plenary
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/github/start/mini-pairs"]
	path = pack/github/start/mini-pairs
	url = git@github.com:echasnovski/mini.pairs.git
[submodule "pack/github/start/blink-cmp"]
	path = pack/github/start/blink-cmp
	url = git@github.com:Saghen/blink.cmp.git
[submodule "pack/github/start/copilot"]
	path = pack/github/start/copilot
	url = git@github.com:zbirenbaum/copilot.lua.git
[submodule "pack/github/start/gitsigns"]
	path = pack/github/start/gitsigns
	url = git@github.com:lewis6991/gitsigns.nvim.git
[submodule "pack/github/start/git-browse"]
	path = pack/github/start/git-browse
	url = git@github.com:Morozzzko/git_browse.nvim.git
[submodule "pack/github/start/today"]
	path = pack/github/start/today
	url = git@github.com:VVoruganti/today.nvim.git
[submodule "pack/git/start/vim-fugitive"]
	path = pack/git/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/editor/start/statusline"]
	path = pack/editor/start/statusline
	url = git@github.com:schillermann/nvim-statusline.git
[submodule "pack/manager/start/mason"]
	path = pack/manager/start/mason
	url = git@github.com:williamboman/mason.nvim.git
[submodule "pack/manager/start/mason-lspconfig"]
	path = pack/manager/start/mason-lspconfig
	url = git@github.com:williamboman/mason-lspconfig.nvim.git
[submodule "pack/editor/start/quickfix-expanse"]
	path = pack/editor/start/quickfix-expanse
	url = git@github.com:schillermann/nvim-quickfix-expanse.git
[submodule "pack/help/start/browse"]
	path = pack/help/start/browse
	url = git@github.com:lalitmee/browse.nvim.git
