[submodule "pack/github/start/nvim-lspconfig"]
	path = pack/github/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "pack/github/start/nvim-treesitter"]
	path = pack/github/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "pack/github/start/tokyonight"]
	path = pack/github/start/tokyonight
	url = git@github.com:folke/tokyonight.nvim.git
[submodule "pack/github/start/copilot"]
	path = pack/github/start/copilot
	url = git@github.com:github/copilot.vim.git
[submodule "pack/github/start/copilot-chat"]
	path = pack/github/start/copilot-chat
	url = git@github.com:CopilotC-Nvim/CopilotChat.nvim.git
[submodule "pack/github/start/copilot-chat-plenary"]
	path = pack/github/start/copilot-chat-plenary
	url = git@github.com:nvim-lua/plenary.nvim.git
